pre,
code {
  font-family: $monospace;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $red;
  font-size: 75%;
  padding: 0.20em 0.4em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 60%;
  padding: 0;
}

.highlight {
  background-color: $grey-3;
  border-radius: 3px;
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0.8rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 0.75rem 0 0.25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
