.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  font-size: 0.8rem;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all 0.1s linear);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: 0.2rem;
    text-shadow: $shadow;

    &::first-letter {
      color: #fff;
    }

    &:hover,
    &:focus {
      @include vibrate;
      opacity: 0.8;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all 0.1s linear);
    color: $default-color;
    display: inline-block;
    opacity: 0.8;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

.social-bar {
  font-size: 3rem;
  text-align: center;
  a {
    @include transition(all 0.1s linear);
    text-decoration: none;
    i {
      margin: 1rem;
      &:hover,
      &:focus {
        @include vibrate;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.skills-container {
  text-align: center;
  width: 400px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  .skill {
    color: #fff;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    border-radius: 0.7rem;
    background-color: $pink;
    font-family: $sans-serif;
    font-size: 0.8rem;
    &-green {
      @extend .skill;
      background-color: $green;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: 0.8rem;
  }
}
