@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .post {
    &-info {
      display: none;
    }

    &-title {
      text-indent: -9999px;
      line-height: 0;
    }

    &-title::after {
      content: "Michał Kubrycz";
      text-indent: 0;
      display: block;
      line-height: initial;
      font-size: 2rem;
      margin: 0;
    }

    &-line {
      // display: none;
      margin: 1rem auto 1rem;
    }

    &>ul {
      page-break-inside: avoid;
    }

    &>p {
      page-break-after: avoid;
    }
  }

  .nav {
    display: none;
    height: 0;
  }

  body {
    width: 21cm;
    height: 29.7cm;
    margin: auto;
    font-size: 12px;
    .pagination {
      display: none;
      height: 0;
    }
  }

  blockquote {
    font-size: 10px;
  }

  .skills-container {
    @include skills-container;
    width: 45%;
    padding: 0.5rem;
    .skill {
      padding: 0.1rem 0.2rem;
      margin: 0.1rem;
      font-size: 10px;
    }
  }

  .social-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 10px;
    text-align: start;
    a {
      display: block;
      margin: 0 0.1rem;
      i {
        margin: 0;
      }
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
  }

  footer {
    display: none;
    height: 0;
  }
}
