// Colors
$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: cornflowerblue;
$pink: hotpink;
$green: lightgreen;
$yellow: gold;
$red: tomato;
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow: -1px 1px 0 $pink, 1px 2px 0 $green;
$shadow-alt: 10px -1px 0 $pink, -10px 0 0 $green;

// Fonts
$serif: "Crimson Text", Georgia, serif;
$sans-serif: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
$monospace: "Fira Mono", "Lucida Console", Monaco, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@-webkit-keyframes vibrate {
  0%,
  36%,
  100% {
    text-shadow: $shadow;
  }
  18%,
  72% {
    text-shadow: $shadow-alt;
  }
}
@-moz-keyframes vibrate {
  0%,
  36%,
  100% {
    text-shadow: $shadow;
  }
  18%,
  72% {
    text-shadow: $shadow-alt;
  }
}
@-o-keyframes vibrate {
  0%,
  36%,
  100% {
    text-shadow: $shadow;
  }
  18%,
  72% {
    text-shadow: $shadow-alt;
  }
}
@keyframes vibrate {
  0%,
  36%,
  100% {
    text-shadow: $shadow;
  }
  18%,
  72% {
    text-shadow: $shadow-alt;
  }
}

@mixin vibrate {
  -webkit-animation: vibrate 0.06s 5 linear;
  -moz-animation: vibrate 0.06s 5 linear;
  -o-animation: vibrate 0.06s 5 linear;
  animation: vibrate 0.06s 5 linear;
}
