---
---

$default-color: #555;
$blue: #4a9ae1;
$pink: hotpink;
$green: lightgreen;
$yellow: gold;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

.black {
  color: $default-color;
}

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.blue {
  color: $blue;
}

.post p:nth-child(4):first-letter {
  color: $pink;
  padding: 0 .3rem;
  margin: .3rem .3rem 0 0;
  font-size: 2.66rem;
  float: left;
  line-height: 1;
}

.nav-title {
  // color: $green;
  &::first-letter {
    color: $green;
  }
}

.catalogue-line {
  border-color: $pink;
}

.post-line {
  border-color: $yellow;
}

.pagination span:first-child {
  color: $yellow;
}

.social-bar {
  font-size: 3rem;
  text-align: center;
  a {
    text-decoration: none;
    i {
      margin: 1rem;
      &:hover, &:focus {
        @include transition(all .2s ease-out);
        opacity: .6;
      }
    }
  }
}